<!DOCTYPE html>
<html ng-app="kombucha_manager">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	</head>
	<body ng-controller="ManagerController as manager">
		<section ng-controller="PanelController as panel">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#km-navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Kombucha Manager</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="km-navbar">
		    	
		      		<ul class="nav navbar-nav">
		      			<li ng-class="{ active:panel.isSelected('batches') }"> 
							<a href ng-click="panel.selectTab('batches')">Batches</a>
						</li>
						<li ng-class="{ active:panel.isSelected('bottles') }">
							<a href ng-click="panel.selectTab('bottles')">Bottles</a>
						</li>
						<li ng-class="{ active:panel.isSelected('vessels') }">
							<a href ng-click="panel.selectTab('vessels')">Vessels</a>
						</li>
		      		</ul>
		      	
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

			<div class="panel" ng-show="panel.isSelected('batches')">
				<section ng-controller="BatchController as batchCtrl">
					<h4>Batches</h4>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBatchModal">
						Add Batch
					</button>

					<div class="modal fade" id="addBatchModal" tabindex="-1" role="dialog" aria-labelledby="addBatchModelLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">
											&times;
										</span>
									</button>
									<h4 class="modal-title" id="addBatchModalLabel">New Batch</h4>
									</div>
									<div class="modal-body">
									<form name="batchForm">
										<div class="form-group">
											<label for="vessel">Vessel:</label>
											<select id="vessel">
												<option value="1">Clear</option>
												<option value="2">Blue</option>
												<option value="3">Green</option>
											</select>
										</div>
										<label>Tea:</label>
										<select>
											<option value="1">Kombucha Brooklyn House Green</option>
											<option value="2">Kombucha Brooklyn House White</option>
											<option value="3">Kombucha Brooklyn House Green, White, Black</option>
										</select>
										<div class="form-group">
											<label for="teaVolume">Tea Volume (grams)</label>
											<input id="teaVolume" type="number" step="0.1" min="0.0" required="true" value="5" />
										</div>
										<label>Suger Volume (cups):</label>
										<input type="number" step="0.1" min="0.0" required="true" value="1.0" />
										<label>Brew Volume (gallons):</label>
										<input type="number" step="0.1" min="0.0" required="true" value="1" />
										<label>Scoby Count:</label>
										<input type="number"  min="1" required="true" value="1" />
										<label>Beginning Date of Fermentation:</label>
										<input type="date"  requir3ed="true" />
									</form>
								</div>
							    <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							        <button type="button" class="btn btn-primary">Add Batch</button>
							    </div>
							</div>
						</div>
					</div>
					<table class="table table-striped">
						<thead>
							<td>ID</td>
							<td>Brew Date</td>
							<td>Tea</td>
							<td>Vessel</td>
						</thead>
						<tbody ng-repeat="batch in batchCtrl.getBatches()">
							<tr>
								<td>{{ batch.id }}</td>
								<td>{{ batch.brew_date }}</td>
								<td>{{ batch.tea }}</td>
								<td>{{ batch.vessel }}</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<div class="panel" ng-show="panel.isSelected('bottles')">
				<h4>Bottles</h4>
			</div>
			<div class="panel" ng-show="panel.isSelected('vessels')">
				<h4>Vessels</h4>
			</div>
		</section>

		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
