<!DOCTYPE html>
<html ng-app="kombucha_manager">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		{% load compress %}
		{% load static %}
		{% compress css inline%}
		<link rel="stylesheet" href="{% static 'css/site.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'angular-loading-bar/build/loading-bar.css' %}">
		{% endcompress %}
	</head>
	<body>
		<login-form></login-form>
		<section ng-controller="PanelController as panel">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#km-navbar">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="#">Kombucha Manager</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="km-navbar">
		    	
		      		<ul class="nav navbar-nav">
		      			<li ng-class="{ active:panel.isSelected('batches') }"> 
							<a href ng-click="panel.selectTab('batches')">Batches</a>
						</li>
						<li ng-class="{ active:panel.isSelected('bottles') }">
							<a href ng-click="panel.selectTab('bottles')">Bottles</a>
						</li>
						<li ng-class="{ active:panel.isSelected('vessels') }">
							<a href ng-click="panel.selectTab('vessels')">Vessels</a>
						</li>
		      		</ul>
			      	<ul class="nav navbar-nav navbar-right" ng-controller="loginController as loginCtrl">
				        <li><a href="#" ng-click="loginCtrl.logout()">Logout</a></li>
				    </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel" ng-show="panel.isSelected('batches')">
						<batch-panel></batch-panel>
					</div>
					<div class="panel" ng-show="panel.isSelected('bottles')">
						<bottle-panel></bottle-panel>
					</div>
					<div class="panel" ng-show="panel.isSelected('vessels')">
						<vessel-panel></vessel-panel>
					</div>
				</div>
			</div>
		</section>
		{% load compress %}
		{% compress js%}
		<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'angular-smart-table/dist/smart-table.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'app.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/batches.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/vessels.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/teas.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/bottles.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/panels.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/sizes.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/flavors.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/controllers/authentication.js' %}"></script>
		<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'angular-loading-bar/build/loading-bar.min.js' %}"></script>
		{% endcompress %}
	</body>
</html>
