Django==1.9.7
SQLAlchemy==1.0.13
dj-database-url==0.4.1
dj-static==0.0.6
django-appconf==1.0.2
django-bower==5.1.0
django-compressor==2.0
django-cors-headers==1.1.0
django-extensions==1.6.7
django-nose==1.4.3
django-postgrespool==0.3.0
django-rest-auth==0.7.0
djangorestframework==3.3.3
gunicorn==19.3.0
psycopg2==2.6
pydot
pyparsing==1.5.7
six==1.9.0
static3==0.5.1
wsgiref==0.1.2
unittest-xml-reporting
