					<div class="modal fade" id="addBottleModal" tabindex="-1" role="dialog" aria-labelledby="addBottleModelLabel" aria-hidden="true">
						<div class="modal-dialog">
							<form id="addBottleForm" ng-submit="addBottle()">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
										<h4 class="modal-title" id="addBottleModalLabel">New Bottle</h4>
									</div>
									<div class="modal-body">
										<div class="form-group" ng-controller="BatchController as batchCtrl">
											<label for="flavor">Batch:</label>
											<select class="form-control" ng-model="newBottle.batch" ng-options="item.url as item.id for item in batches track by item.url" required="true" >
												<option value="">-- choose batch --</option>
											</select>
										</div>
										<div class="form-group" ng-controller="SizeController as sizeCtrl">
											<label for="size">Size:</label>
											<select class="form-control" ng-model="newBottle.size" ng-options="item.url as item.size for item in sizes track by item.url" required="true" >
												<option value="">-- choose size (oz) --</option>
											</select>
										</div>
										<div class="form-group" ng-controller="FlavorController as flavorCtrl">
											<label for="flavor">Flavor:</label>
											<select class="form-control" ng-model="newBottle.flavor" ng-options="item.url as item.name for item in flavors track by item.url" required="true" >
												<option value="">-- choose flavor --</option>
											</select>
										</div>
										<div class="form-group">
											<label>Bottling Date:</label>
											<input type="date" required="true" class="form-control" ng-model="newBottle.bottle_date"/>
										</div>

										
								    <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary">Add Bottle</button>
								    </div>
								</form>
							</div> 
						</div>
					</div>