					<div class="modal fade" id="addBatchModal" tabindex="-1" role="dialog" aria-labelledby="addBatchModelLabel" aria-hidden="true">
						<div class="modal-dialog">
							<form id="addBatchForm" ng-submit="addBatch()">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
										</button>
										<h4 class="modal-title" id="addBatchModalLabel">New Batch</h4>
									</div>
									<div class="modal-body">
										<div class="form-group" ng-controller="VesselController as vesselCtrl">
											<label for="vessel">Vessel:</label>
											<select class="form-control" ng-model="newBatch.vessel" ng-options="item.url as item.name for item in vessels track by item.url" required="true" >
												<option value="">-- choose vessel --</option>
											</select>
										</div>
										<div class="form-group">
											<label>Tea:</label>
											<select class="form-control" ng-controller="TeaController as teaCtrl" ng-model="newBatch.tea" id="tea" required="true">
												<option value="{{ tea.url }}" ng-repeat="tea in teas">
													{{ teaCtrl.joinNames(tea.sources) }}
													{{ tea.name }}
													{{ teaCtrl.joinNames(tea.types) }}
												</option>
											</select>
										</div>
										<div class="form-group">
											<label for="teaVolume">Tea Volume (grams)</label>
											<input id="teaVolume" type="number" step="0.1" min="0.0" required="true" class="form-control" placeholder="grams" ng-model="newBatch.tea_volume"/>
										</div>
										<div class="form-group">
											<label>Suger Volume (cups):</label>
											<input type="number" step="0.1" min="0.0" required="true" class="form-control" placeholder="cups" ng-model="newBatch.sugar_volume"/>
										</div>
										<div class="form-group">
											<label>Brew Volume (gallons):</label>
											<input type="number" step="0.1" min="0.0" required="true" class="form-control" placeholder="gallons"  ng-model="newBatch.brew_volume"/>
										</div>
										<div class="form-group">
											<label>Scoby Count:</label>
											<input type="number"  min="1" required="true" value="1" class="form-control"  ng-model="newBatch.scoby_count"/>
										</div>
										<div class="form-group">
											<label>Beginning Date of Fermentation:</label>
											<input type="date" required="true" class="form-control" ng-model="newBatch.brew_date"/>
										</div>
									</div>
								    <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        <button type="submit" class="btn btn-primary">Add Batch</button>
								    </div>
								</form>
							</div> 
						</div>
					</div>