						<div ng-controller="BatchController as batchCtrl">
							<h4>Batches</h4>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBatchModal">
								Add Batch
							</button>
							<add-batch-form></add-batch-form>
							<table class="table table-striped">
								<thead>
									<td>ID</td>
									<td>Brew Date</td>
									<td>Teas</td>
									<td>Vessel</td>
								</thead>
								<tbody>
									<tr ng-repeat="batch in batchCtrl.getBatches()">
										<td>{{ batch.id }}</td>
										<td>{{ batch.brew_date }}</td>
										<td>
											<span ng-repeat="tea in batch.tea">
												<span ng-repeat="source in tea.sources">
													{{ source.name }}
												</span>
												{{ tea.name }}
												<span ng-repeat="type in tea.types">
													{{ type.name }}
												</span>
											</span>
										</td>
										<td>
											{{ batch.vessel.name }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>