						<div ng-controller="BatchController as batchCtrl">
							<h4>Batches</h4>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBatchModal">
								Add Batch
							</button>
							<add-batch-form></add-batch-form>
							<table class="table table-striped" st-table="displayedBatchCollection" st-safe-src="batches">
								<thead>
									<tr>
										<th>&nbsp;</th>
										<th st-sort="id" st-sort-default="reverse">ID</th>
										<th st-sort="brew_date">Brew Date</th>
										<th st-sort="teas">Teas</th>
										<th st-sort="vessel.name">Vessel</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="batch in displayedBatchCollection" ng-click="batch.expanded = !batch.expanded">
										<td>
											<button class="btn btn-default btn-xs" ng-if="batch.expanded">
												<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
											</button>
              								<button class="btn btn-default btn-xs" ng-if="!batch.expanded">
              									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              								</button>
										</td>
										<td>
											{{ batch.id }}
											<span class="label label-warning" ng-show="batch.discarded">Discarded</span>
										</td>
										<td>{{ batch.brew_date | date }}</td>
										<td>
											<span ng-repeat="tea in batch.tea">
												<span ng-repeat="source in tea.sources">
													{{ source.name }}
												</span>
												{{ tea.name }}
												<span ng-repeat="type in tea.types">
													{{ type.name }}
												</span>
											</span>
										</td>
										<td>
											{{ batch.vessel.name }}
										</td>
									</tr>
									<tr ng-if="batch.expanded" ng-repeat-end="">
            							<td colspan="5">
            								<div class="well well-sm">
            									<div class="row">
	            									<div class="col-md-10">
	            										<ul class="list-group">
														  <li class="list-group-item">
														  	Brew Volume (gallons): {{ batch.brew_volume }}
														  </li>
														  <li class="list-group-item">
														  	Tea Volume (gallons): {{ batch.tea_volume }}
														  </li>
														  <li class="list-group-item">
														  	Sugar Volume (cups): {{ batch.sugar_volume }}
														  </li>
														  <li class="list-group-item">
														  	Scoby Count: {{ batch.scoby_count }}
														  </li>
														  <li class="list-group-item">
														  	Comments: {{ batch.comments }}
														  </li>
														</ul>
													</div>
	  												<div class="col-md-2">
	  													<div class="dropdown">
														  <button class="btn btn-default dropdown-toggle" type="button" id="moduleOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
														  	<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
														    Options
														    <span class="caret"></span>
														  </button>
														  <ul class="dropdown-menu" aria-labelledby="moduleOptions">
														    <li ng-class="{ 'disabled':batch.discarded }">
														    	<a ng-href="#" ng-click="discardBatch(batch.id)">
														    		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
														    		Discard Batch
														    	</a>
														    </li>
														  </ul>
														</div>
	            									</div>
	            									<span class="label label-warning" ng-show="batch.discarded">Discarded</span>
            									</div>
            								</div>
            							</td>
          							</tr>
								</tbody>
								<tfoot>
									<tr>
										<td class="text-center" st-pagination="" st-items-by-page="10" colspan="3"></td>
									</tr>
								</tfoot>
							</table>
						</div>